*{
   box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

h1{
    text-align: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

.board td {
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid rgb(36, 36, 36);
    cursor: pointer;
}

.load{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    display: none;
}

.modal{
    position: relative;
   margin: auto;
    background-color: rgb(189, 189, 230);
    height: 350px;
    width: 300px;
    display: none;
}

.win-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
}